node_modules/
.next/
__pycache__/
*.pyc
venv/
env/
.env
.env.local
.DS_Store
media/
staticfiles/

# Secrets
.env
*.env

# Backend (Django)
backend/venv/
backend/__pycache__/
*.pyc
db.sqlite3

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
